<div class="post-wrapper">
  <%= image_tag(post.image.attached? ? url_for(post.image) : image_path("fallback.png"), class: "post-image") %>

  <div class="post-header">
    <h2 class="post-title"><%= post.title %></h2>
    <nav class="post-nav">
      <% if post.user.id == current_user.id %>
        <%= link_to "Edit", edit_post_path(post), class: "button" %>
        <%= button_to "Delete", post, method: :delete, class: "button-secondary" %>
      <% end %>
    </nav>
  </div>
  
  <p class="post-content"><%= post.description %></p>
  <p class="post-author"> Author <%= post.user.email %></p>
  <p class="post-update"> Last update: <%= time_ago_in_words(post.updated_at) %></p>
  <hr/>

  <div class="comment-section-wrapper">
  <h4 class="post-comments-section-title">Comments</h4>
  <%= render post.comments %>
</div>


  <%= form_with model: [post, Comment.new], local: true, html: { class: "add-comment-wrapper" } do |form| %>
  <%= form.text_area :content, placeholder: "Add a comment...", class: "add-comment-content" %>
  <%= form.submit "Comment", class: "button" %>
<% end %>



</div>